<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/misinfo_Cropped.png" | relative_url }}" alt="Logo"></span> {{ }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div class="navbar-left">
                <ul class="nav navbar-nav">
                    <li {% if page.sectionid=='Datasets' %} class="dropdown" {% endif %}><a class="dropdown-toggle"
                            data-toggle="dropdown" href="#">
                            Dataset <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ "/docs/dataset_overview/" | relative_url }}">Overview</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                            
                    <li {% if page.sectionid=='Paper' %} class="dropdown" {% endif %}><a class="dropdown-toggle"
                            data-toggle="dropdown" href="#">
                            Papers <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://arxiv.org/abs/2411.05060">A Guide to Misinformation Detection Datasets</a></li>
                            <li><a href="https://arxiv.org/abs/2409.00009">Web Retrieval Agents for Evidence-Based Misinformation Detection</a></li>
                            <li><a href="https://arxiv.org/abs/2305.14928">Towards Reliable Misinformation Mitigation: Generalization, Uncertainty, and GPT-4</a></li>
                            <li><a href="https://arxiv.org/abs/2104.06952">The Surprising Performance of Simple Baselines for Misinformation Detection</a></li>
                        </ul>
                    </li>
                    {% comment %} <li {% if page.sectionid=='Paper' %} class="active" {% endif %}><a
                            href="{{ site.paper_address }}">Paper</a></li> {% endcomment %}
                    <li {% if page.sectionid=='Team' %} class="active" {% endif %}><a href="{{ "/docs/team/" |
                            relative_url }}">Team</a></li>
                    <ul class="nav navbar-nav">
                        <li><a href="https://github.com/ComplexData-MILA/misinfo-datasets"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://huggingface.co/datasets/ComplexDataLab/Misinfo_Datasets" target="_blank">
                                <img src="https://huggingface.co/front/assets/huggingface_logo.svg" alt="Hugging Face Logo" style="width: 16px; height: 16px;">
                            </a>
                        </li>
                    </ul>
                    
                    
            </div>
        </div>
    </div>
</nav>